<form
  class="profile-search-form tt-block"
  [formGroup]="searchForm"
>
  <label class="tt-form-label">
    <span class="tt-form-label__text">Имя пользователя</span>
    <input
      type="text"
      class="tt-form-input"
      placeholder="Выберете"
      formControlName="firstName"
    >
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Фамилия</span>
    <input
      type="text"
      class="tt-form-input"
      placeholder="Выберете"
      formControlName="lastName"
    >
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Навыки</span>
    <input
      type="text"
      class="tt-form-input"
      placeholder="Выберете"
      formControlName="stack"
    >
  </label>
</form>
