:host {
  padding-right: 24px;
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 0 16px;
}

.comment-body {
  display: grid;
  gap: 8px 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-text {
  overflow-wrap: anywhere;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--light-solid);
}
