:host {
  display: grid;
  grid-template-columns: 112px 1fr;
  gap: 24px;
  height: min-content;
}

.profile-name__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: center;
  text-align: left;
}



:host.profile-me {
  grid-template-columns: 140px 1fr;

  .profile-name__wrapper {
    flex-direction: row;
    gap: 24px;

    .profile-username {
      display: flex;
      align-items: center;
    }
  }
}

