<form class="experimental-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h4 class="h4 mb16">Информация о доставке</h4>

  <label class="experimental-form__label tt-form-label mb16">
    Тип получателя
    <select class="experimental-form__input tt-input mb8" formControlName="type">
      <option [value]="ReceiverType.PERSON">Физическое лицо</option>
      <option [value]="ReceiverType.LEGAL">Юридическое лицо</option>
    </select>
  </label>


  <label class="experimental-form__label tt-form-label mb16">
    Имя
    <input class="experimental-form__input tt-input mb8" formControlName="name" placeholder="Введите имя">
  </label>
  @if (form.controls.type.value === ReceiverType.PERSON) {
    <label class="experimental-form__label tt-form-label mb16">
      Фамилия
      <input class="experimental-form__input tt-input mb8" formControlName="lastName" placeholder="Введите фамилию">
    </label>
  } @else {
    <label class="experimental-form__label tt-form-label mb16">
      ИНН
      <input class="experimental-form__input tt-input mb8" formControlName="inn" placeholder="Введите ИНН">
    </label>
  }

  @if (form.controls.inn.touched && form.controls.inn.hasError('required')) {
    <small>Неверно введен ИНН</small>
  }

  <div>
    <div class="address__header">
      <h6 class="h6 mb16 experimental-form__subtitle">Адрес доставки</h6>
      <button type="button" class="experimental-form__btn add-btn btn" (click)="addAddresses()">+</button>
    </div>
    @for (group of form.controls.addresses.controls; track i; let i = $index) {
      <div class="address__wrapper mb16" [formGroup]="group">
        <label class="experimental-form__label tt-form-label">
          Город
          <input class="experimental-form__input tt-input mb8" formControlName="city" placeholder="Город">
        </label>
        <label class="experimental-form__label tt-form-label">
          Улица
          <input class="experimental-form__input tt-input mb8" formControlName="street" placeholder="Улица">
        </label>
        <label class="experimental-form__label tt-form-label">
          Дом
          <input class="experimental-form__input tt-input mb8" formControlName="building" placeholder="Дом">
        </label>
        <label class="experimental-form__label tt-form-label">
          Квартира
          <input class="experimental-form__input tt-input mb8" formControlName="apartment" placeholder="Квартира">
        </label>
      </div>
      <button type="button" class="experimental-form__btn btn mb16" (click)="deleteAddresses(i)">Удалить</button>
    }
  </div>


  <div [formGroup]="form.controls.feature">
    <h6 class="h6 mb16 experimental-form__subtitle">Дополнительно</h6>

    <div class="checkbox__wrapper">
      @for(control of form.controls.feature.controls | keyvalue: sort; track i; let i = $index) {
        <label>
          {{features[i].label}}
          <input type="checkbox" [formControlName]="control.key">
        </label>
      }
    </div>
  </div>


  <button type="submit" class="experimental-form__btn btn">Подтвердить</button>
</form>


